# OpenServer
*.osp

# System files
.DS_Store
Thumbs.db

# IDE / editors
.vscode/
.idea/
*.swp
*.swo

# Configurations and secrets
config.php
.env
db.php
*.ini

# Database dumps
*.sql
!schema.sql
dump.sql

# Cache, temporary files
/cache/
/tmp/
log/
*.log

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates