        <div class="container">
            <h1>Welcome, <?= htmlspecialchars($user['name']) ?>!</h1>
            <div class="profile-desc">
                <div class="profile-table-details">
                    <h3>Your Account details</h3>
                    <table class="profile-table">
                        <tr>
                            <td class="profile-table-td"><strong>Email:</strong></td>
                            <td class="profile-table-td"><?= htmlspecialchars($user['email']) ?></td>
                        </tr>
                        <tr>
                            <td class="profile-table-td"><strong>Registration Date:</strong></td>
                            <td class="profile-table-td"><?= htmlspecialchars($user['registration_date']) ?></td>
                        </tr>
                    </table>
                </div>

                <div style="flex-shrink: 0; text-align:center;">
                    <img src="<?= htmlspecialchars($user['avatar'] ?? 'uploads/avatars/default-avatar.png') ?>"
                         class="avatar-pr-img">
                </div> 
                <?php if ($user['role'] === 'admin'): ?>
                <div>
                    <a href="admin_unicorns.php" class="profile-btn">Manage Unicorns</a>
                    <a href="admin_products.php" class="profile-btn">Manage Products</a>
                    <a href="admin_orders.php" class="profile-btn">Check Orders</a>
                    <a href="admin_users.php" class="profile-btn">Manage Users</a>
                </div>
                <?php else: ?>
                <div>
                    <a href="user_orders.php" class="profile-btn">My Orders</a>
                    <a href="edit_profile.php" class="profile-btn">Edit Profile</a>
                    <a href="cart.php" class="profile-btn">View Cart</a>
                </div>

                <?php endif; ?>
            </div>            


        </div>