        <div class="container">
            <h1>Welcome, <?= htmlspecialchars($user['name']) ?>!</h1>
            <div class="profile-desc">
                <div class="profile-table-details">
                    <h3>Your Account details</h3>
                    <table class="profile-table">
                        <tr>
                            <td class="profile-table-td"><strong>Email:</strong></td>
                            <td class="profile-table-td"><?= htmlspecialchars($user['email']) ?></td>
                        </tr>
                        <tr>
                            <td class="profile-table-td"><strong>Registration Date:</strong></td>
                            <td class="profile-table-td"><?= htmlspecialchars($user['registration_date']) ?></td>
                        </tr>
                    </table>
                </div>

                <div style="flex-shrink: 0; text-align:center;">
                    <img src="<?= htmlspecialchars($user['avatar'] ?? 'uploads/avatars/default-avatar.png') ?>"
                         class="avatar-pr-img"
                    >
                </div>
            </div>            

            <?php if ($user['role'] === 'admin'): ?>
            <div style="margin-top: 30px;">
                <h3>Administrative Functions</h3>
                <a href="admin_unicorns.php" class="btn btn-primary">Manage Unicorns</a>
                <a href="admin_products.php" class="btn btn-primary">Manage Products</a>
                <a href="admin_orders.php" class="btn btn-primary">Check Orders</a>
                <a href="admin_users.php" class="btn btn-primary">Manage Users</a>
            </div>
            <?php else: ?>
            <div style="margin-top: 30px">
                <a href="user_orders.php" class="btn btn-primary">My Orders</a>
                <a href="edit_profile.php" class="btn btn-primary">Edit Profile</a>
                <a href="cart.php" class="btn btn-primary">View Cart</a>
            </div>

            <?php endif; ?>
        </div>