.slider-container {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

#h {
width:1360px;
height:180px;
text-align: center;
font-family: Ink Free;
font-size:72;
}

#soder {
width:1360px;
height:320px;
font-family: Ink Free;
font-size:45;
margin-bottom: 200px;
float: center;
text-align: center;
}

h6{
font-family: Ink Free;
font-size:60;
margin-left:50px;
}	

h2 {
font-family: Ink Free;
font-size:30;
margin-left:50px;
text-align:center;
margin-bottom:70px;
margin-top:70px;
}

h3{
font-family: Ink Free;
font-size:27;
text-align:right;
}

#abus{
font-family: Ink Free;
font-size:24;
margin-left:50px;
text-align:left;
}

#starco{
font-family: Ink Free;
font-size:20;
text-align:left;
margin-left:25px;
margin-top:80px;
}

#vas{
text-align:center;
}

#agnes{
font-family: Ink Free;
font-size:20;
text-align:right;
}

#photo{
padding-top:150px;	
}

#soder_1 {
width:1360px;
height:320px;
text-align: center;
font-family: Ink Free;
font-size:65;
margin-bottom:500px;
margin-left:70px;
padding-top:50px;
}

p1{
float:left;
width:780px;
height:80px;
font-family: Ink Free;
font-size:60;
}

p2{
font-family: Ink Free;
font-size:60;
float:right;
height:80px;
}	

f1{
float:left;
padding-top:120px;
text-align:left;
}

f2{
float:right;
padding-top:120px;
text-align:right;
}

#important{
font-family: Ink Free;
font-size:30;
text-align:center;
width:650px;
float:left;
padding-left:125px;
}

#form{
margin-top:70px;
margin-left: 125px;
font-family: Ink Free;
font-size:25;
width:1360px;
float:left;
}

a{
margin-top: 15px;
font-family: Ink Free;
font-size:40;
color: black;
width:670px;
float: center;
text-align: center;
}

.forms{
font-family: Ink Free;
font-size: 24;
width: 600px;
padding: 10px;
border: 1px solid #eee;
transition: .3s border-color;
border-radius: 15px;
resize: vertical;
}

.button{
appearance:none;
-webkit-appearance:none;
padding: 10px;
border: 0;
border-radius: 15px;
width: 600px;
color:rgb(255, 247, 6);
background-color: darkviolet;
}

.btn-up {
  position: fixed;
  background-color: #673ab7;
  right: 20px;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

.reviews{ 
  font-family:Georgia;
  font-size: 45;
  color:darkviolet;
  width: 600px;
  padding: 10px;
  border: 1px solid #eee;
  transition: .3s border-color;
  border-radius: 15px;
  resize: vertical;
  margin-left: 155px;
  }
  
  #voin{
  margin-right: 60px;
  }